<form action='/score'>
	<div class='form-group'>
		<label for='word'>Scrabble Score</label>
		<input id='word' name='word' class='form-control' type='text'>
	</div>
	
	<button type='submit' class='btn btn-primary'>Score</button>
</form>